[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langgraph = "*"
autogen = "*"
stackapi = "*"
chromadb = "==0.6.0"
vector-etl = "*"
sendgrid = "*"
transformers = "*"
torch = "*"
pandas = "*"
pyarrow = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
