[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langgraph = "*"
autogen = "*"
stackapi = "*"
chromadb = "*"
vector-etl = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.10"
