anthropic
azure-storage-blob
boto3
botocore
box-sdk-gen
chromadb
cffi
cohere
dropbox
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
lancedb
mysql-connector-python
neo4j
nltk
onnxruntime
openai
pandas
pinecone
psycopg2-binary
pygithub
pyjwt
pymilvus
pymongo
pympler
pymysql
pydantic
pytest
python-dotenv
python-magic
pyyaml
qdrant-client
requests
simple-salesforce
singlestoredb
snowflake-connector-python
stripe
tiktoken
unstructured[all-docs]
unstructured-client
vecs
weaviate-client
zenpy

